@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.container {
    width: 100vw;
    height: 100vh;
    background-color:#0090af;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-conversor {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 350px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.title h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #555555;
    padding: 20px;
}

.moeda-reais, .moeda-conversao, .title{
    width: 327px;
    height: 80px;
}

.moeda-reais label, .moeda-conversao label, .converter label {
    font-size: 14px;
    list-style: 18px;
    font-weight: 400;
    color: #777777;
}

.moeda-reais select, .moeda-conversao select , .converter input {
    width: 327px;
    height: 48px;
    border: 1px solid #0090af;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #555555;
    padding-left: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
}

.moeda-reais select:focus, .moeda-conversao select:focus , .converter input:focus {
    border: 2px solid #555555;

}


.converter {
    width: 327px;
    height: 160px;
}

.converter button {
    width: 327px;
    height: 48px;
    background-color:#33b5d5;
    color: #ffffff;
    border: none;
    margin: 20px 0px 0px 0px;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
}

.converter button:hover {
    opacity: 0.8;
}

.converter button:active {
    opacity: 0.6;
    width: 326px;
    height: 47px;
}

.resultado-conversao {
    width: 327px;
    height: 270px;
    display: flex;
    flex-direction: column;
    border: 1px solid #0090af;
    border-radius: 4px;
}

.real, .convertido {
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center; 
}

.real h1, .convertido h1 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #777777;
}

.real p, .convertido p {
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
    color: #555555;
}

